    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/highscore.css">
</head>
<body class="box-object-gradient-hor bg-pan-left">
    <header>
        <h1 class="tracking-in-contract title">Survivors, Ranked</h1>
    </header>
    <div class="col-sm">
        <table>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
            {{#each highscores}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.score}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</body>
