    <script src="assets/javascript/betterHunting.js"></script>
    <link rel="stylesheet" href="assets/css/hunting.css">

</head>
<body>
    <div id="canvasFrame">
        <canvas id='canvas'></canvas>
        <div id="ammoSelect">
            <div id="selectedAmmo" class="outline">mokeballs ▼</div>
            <div name="mokeballs" class="ammo outline">mokeballs</div>
            <div name="grenades" class="ammo outline">grenades</div>
            <div name="rocks" class="ammo outline">rocks</div>
        </div>
        <div id="time" class="outline"></div>
        <p id="msg"></p>
    </div>

    <div id="msgbox" class="hidden dialogBox"><div id="msgbuttons"></div></div>  

</body>
