    <link rel="stylesheet" type="text/css" href="assets/css/shop.css">
    <script src="assets/javascript/shop.js"></script>
</head>
<body>
    <div class="jumbotron" style="background-color: black; color: white">
            <h1 class="text-center">Poké Store</h1>
            <br>
            <br>
            <br>
        </div>


    <div id="container-fluid mainDiv">
      <div class="tableDiv" id="container-fluid">
        <table class="table table-bordered table-dark">
                <thead>
                  <tr>
                    <th scope="col">Items</th>
                    <th scope="col">Player</th>
                    <th scope="col">Store</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><strong>PokeBalls</strong></th>
                    <td id="pBal"></td>
                    <td id="sBal"></td>
                    <td id="pokeBtn" button class="btn btn-warning btn btn-lg" onClick="onBuyAPoke();">Buy Poké Balls</button>
                    
                  </tr>
                  <tr>
                    <th scope="row"><strong>Kibble</strong></th>
                    <td id="pKib"></td>
                    <td id="sKib"></td>
                    <td id="kibBtn" class="btn btn-warning btn btn-lg" onClick="onBuyKibble();">Buy Poké Kibble</button>
                    
                    
                  </tr>
                  <tr>
                    <th scope="row"><strong>Food</strong></th>
                    <td id="pFoo"></td>
                    <td id="sFoo"></td>
                    <td id="foodBtn" class="btn btn-warning  btn btn-lg" onClick="onBuyFood();">Buy Food</button>
                  </tr>
                  
                  <th scope="row"><strong>Money</strong></th>
                  <td id="pMon" colspan="2"></td>
                </tbody>
        </table>
      </div>
      <br>
      <br>
    </div>
</body>
</html>



