.dialogBox {
    position: absolute;
    width: 60%;
    min-width: 400px;
    max-width: 100%;
    border: 3px solid white;
    color: whitesmoke;
    background-color: black;
    text-align: justify;
    /* sorry */
    z-index: 999; 
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 2vmin;
    padding: 10px;
    box-sizing: border-box;
}

.msgTitle {
    background-color: whitesmoke;
    color: black;
    position: relative;
    display: block;
    width: 100%;
    border: 10px solid whitesmoke;
    margin: -10px -10px 10px;
    text-align: center;
    font-size: 12pt;
}

.msgbutton {
    margin: 10px;
    display: inline-block;
}
/* 
.controlButton {
    display: inline;
    margin: 20px;
    font-size: 24pt;
    border-radius: 3px;
} */

.optionButton {
    display: block;
    position: relative;
    left: 12.5%;
    transform: translate(-50%);
    margin: 5% 0;
}

.quantity {
    margin: 2vmin;
    color: skyblue;
}

.thumbnailContainer {
    display: inline-block;
    line-height: 0;
    margin: .5vmin;
}

.mokeIcon {
    border: 1px solid white;
    display: inline-block;
    width: 4.5vmin;
    height: 4.5vmin;
    box-sizing: border-box;
}

.mokeIcon:hover, .mokeIcon.selected {
    box-shadow: inset 0 0 .5vmin .5vmin white, 0 0 .25vmin .25vmin white;
    border: 0;
}

#msgbuttons {
    display: inline-block;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#infoPanel {
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    border-left: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;

}

#mokeStats {
    border: 1px solid white;    
    position: absolute;
    background-color: black;
    width: 90%;
}


.numberInputLine {
    width: 100%; 
    height: 2.5vmin; 
    display: block; 
    position: relative;
    margin: 8pt 0;
}

.numberInput {
    display: inline-block; 
    height: 2.5vmin; 
    vertical-align: middle; 
    text-align: center;
    border: 1px solid gray;
    margin-right: 2vmin;
}

.numberInput_text {
    display: inline-block;
    height: 2.5vmin;
    width: 80px;
    line-height: 2vmin;
    vertical-align: top;
    border-radius: 0;
    border: 0;
    margin: -1px 0 0 0;
}

.numberInput_buttonContainer {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    vertical-align: top;
    margin: 0;
}

.numberInput_button {
    display: block; 
    width: 20pt; 
    height: 50%; 
    font-size: 6pt;
    cursor: pointer;
    padding: 0;
    line-height: 50%;
    text-align: center;
}

.numberInput_button:hover {
    background-color: white;
    color: black;
}

.numberInput_button_text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    user-select: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 400px) {
    .dialogBox {
        min-width: 100%;
    }
}