table {
    /* display: block;
    left: 50%;
    transform: translate(-50%); */
    text-align: center;
    width: 100%;
    overflow: scroll;
}

tbody {
    display:  inline-block;
    left: 50%;
}

td, th {
    width: 200px;
    border: 1px solid black;
    font-size: 15pt;
}

th {
    border-bottom: 2px solid black;
}

tr {
    color: white;
    line-height: 27pt;
}

#scoresList {
    height: Calc(240pt + 22px);
    display: inline-block;
}