html, body {
    overflow: hidden;
}
#walkingPath {
    width: 161.8vh;
    height: 100vh;
    display: block;
    position: absolute;
}
#controls{
    display: block;
    position: absolute;
    height: 100vh;
    width: Calc(100vw - 161.8vh);
    background-color: lightgray;
    top: 0;
    left: 161.8vh;
}
#sky {
    background-color: skyblue;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
}
#sun {
    /* a yellow circle */
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 5vh;
    height: 5vh;
    border: 2.5vh solid yellow;
    border-radius: 2.5vh;
}
#ground {
    background-color: green;
    position: absolute;
    display: block;
    top: 40%;
    width: 100%;
    height: 60%;
}
#path {
    background-color: tan;
    display: block;
    position: absolute;
    width: 100%;
    height: 5%;
    top: 80%;
}
#canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 2;
}
.you {
    top: 82%; 
    left: 25%; 
    position: absolute; 
    height: 5%; 
    width: 3.09%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

.controlButton {
    display: inline;
    margin: 20px;
    font-size: 24pt;
    border-radius: 3px;
}
#narrative {
    position: absolute;
    width: 90%;
    margin: 10px 5%;
    border: 1px solid black;
    bottom: 0;
}
#posse, #rest, #inventory, #options{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: black;
    color: white;
    overflow: scroll;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 999;
}
/* .closeButton {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
} */
#msgbox {
    position: absolute;
    width: 60%;
    height: 60%;
    border: 3px solid white;
    color: whitesmoke;
    background-color: black;
    text-align: justify;
    padding: 10px;
    z-index: 99;
    top: 20%;
    left: 20%;
}
#msgbuttons {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.msgTitle {
    background-color: whitesmoke;
    color: black;
    position: relative;
    display: block;
    width: 100%;
    border: 10px solid whitesmoke;
    margin: -10px -10px 10px;
    text-align: center;
    font-size: 12pt;
}

.msgbutton {
    margin: 10px;
    display: inline-block;
}

@media (max-aspect-ratio: 34/21) {
    #walkingPath {
        width: 100vw;
        height: 61.8vw;
    }
    #controls {
        width: 100vw;
        height: Calc(100vh - 61.8vw);
        top: 61.8vw;
        left: 0;
    }

}

.hidden {
    display: none;
}